In [2]:
import pandas as pd

data = pd.read_csv('6.Classification_vertebrate.csv',header='infer')
data

,Name,Warm-blooded,Gives Birth,Aquatic Creature,Aerial Creature,Has Legs,Hibernates,Class
0,human,1,1,0,0,1,0,mammals
1,python,0,0,0,0,0,1,reptiles
2,salmon,0,0,1,0,0,0,fishes
3,whale,1,1,1,0,0,0,mammals
4,frog,0,0,1,0,1,1,amphibians
5,komodo,0,0,0,0,1,0,reptiles
6,bat,1,1,0,1,1,1,mammals
7,pigeon,1,0,0,1,1,0,birds
8,cat,1,1,0,0,1,0,mammals
9,leopard shark,0,1,1,0,0,0,fishes
10,turtle,0,0,1,0,1,0,reptiles
11,penguin,1,0,1,0,1,0,birds
12,porcupine,1,1,0,0,1,1,mammals
13,eel,0,0,1,0,0,0,fishes
14,salamander,0,0,1,0,1,1,amphibians

In [6]:
data['Class'] = data['Class'].replace(['reptiles','fishes','amphibians','birds'],'non-mammals')
data

,Name,Warm-blooded,Gives Birth,Aquatic Creature,Aerial Creature,Has Legs,Hibernates,Class
0,human,1,1,0,0,1,0,mammals
1,python,0,0,0,0,0,1,non-mammals
2,salmon,0,0,1,0,0,0,non-mammals
3,whale,1,1,1,0,0,0,mammals
4,frog,0,0,1,0,1,1,non-mammals
5,komodo,0,0,0,0,1,0,non-mammals
6,bat,1,1,0,1,1,1,mammals
7,pigeon,1,0,0,1,1,0,non-mammals
8,cat,1,1,0,0,1,0,mammals
9,leopard shark,0,1,1,0,0,0,non-mammals
10,turtle,0,0,1,0,1,0,non-mammals
11,penguin,1,0,1,0,1,0,non-mammals
12,porcupine,1,1,0,0,1,1,mammals
13,eel,0,0,1,0,0,0,non-mammals
14,salamander,0,0,1,0,1,1,non-mammals

In [7]:
pd.crosstab([data['Warm-blooded'],data['Gives Birth']],data['Class'])

Class                     mammals  non-mammals
Warm-blooded Gives Birth
0            0                  0            7
             1                  0            1
1            0                  0            2
             1                  5            0

In [21]:
from sklearn import tree

Y = data['Class']
X = data.drop(['Name','Class'],axis=1)

clf = tree.DecisionTreeClassifier(criterion='entropy',max_depth=3)
clf=clf.fit(X,Y)
clf

DecisionTreeClassifier(criterion='entropy', max_depth=3)

In [27]:
import os 
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

In [30]:
import pydotplus 
from IPython.display import Image

dot_data = tree.export_graphviz(clf,feature_names=X.columns,class_names=['mammals','non-mammals'],filled=True,out_file=None)
graph = pydotplus.graph_from_dot_data(dot_data)
Image(graph.create_png())

InvocationException: GraphViz's executables not found